.card{
    margin: auto;
    width: 40%;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
}

.header{
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.card-img-top{
    padding: 1%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;

}
