<div class="shell">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://images.unsplash.com/photo-1617038220319-276d3cfab638?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8amV3ZWxsZXJ5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
              alt="Product"
              class="img-responsive"
              [routerLink]="['/prodDetails']"
              routerLinkActive="router-link-active"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Gold Earrings</span>
            </div>
            <div class="title-product">
              <h3>Product</h3>
            </div>
            <div class="description-prod">
              <p>
                Description Product 
              </p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">R320</span></div>
              <div class="wcf-right">
                <a href="/cart" class="buy-btn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-shopping-cart-plus"
                    width="24"
                    height="26"
                    viewBox="-3 -3 24 24"
                    stroke-width="2"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="6" cy="19" r="2" />
                    <circle cx="17" cy="19" r="2" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                    <path d="M15 6h6m-3 -3v6" /></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://images.unsplash.com/photo-1602173574767-37ac01994b2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
              alt="Product"
              class="img-responsive"
              [routerLink]="['/prodDetails']"
              routerLinkActive="router-link-active"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Gold Bracelet</span>
            </div>
            <div class="title-product">
              <h3>Product</h3>
            </div>
            <div class="description-prod">
              <p>
                Description Product
              </p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">R280</span></div>
              <div class="wcf-right">
                <a href="/cart" class="buy-btn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-shopping-cart-plus"
                    width="24"
                    height="26"
                    viewBox="-3 -3 24 24"
                    stroke-width="2"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="6" cy="19" r="2" />
                    <circle cx="17" cy="19" r="2" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                    <path d="M15 6h6m-3 -3v6" /></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://images.unsplash.com/photo-1631965004544-1762fc696476?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
              alt="Product"
              class="img-responsive"
              [routerLink]="['/prodDetails']"
              routerLinkActive="router-link-active"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Gold Necklace</span>
            </div>
            <div class="title-product">
              <h3>Product</h3>
            </div>
            <div class="description-prod">
              <p>
                Description Product 
              </p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">R380</span></div>
              <div class="wcf-right">
                <a href="/cart" class="buy-btn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-shopping-cart-plus"
                    width="24"
                    height="26"
                    viewBox="-3 -3 24 24"
                    stroke-width="2"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="6" cy="19" r="2" />
                    <circle cx="17" cy="19" r="2" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                    <path d="M15 6h6m-3 -3v6" /></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://images.unsplash.com/photo-1633810542706-90e5ff7557be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
              alt="Product"
              class="img-responsive"
              [routerLink]="['/prodDetails']"
              routerLinkActive="router-link-active"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>buy one get one free</span>
            </div>
            <div class="title-product">
              <h3>Product</h3>
            </div>
            <div class="description-prod">
              <p>
                Description Product 
              </p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">R140</span></div>
              <div class="wcf-right">
                <a href="/cart" class="buy-btn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-shopping-cart-plus"
                    width="24"
                    height="26"
                    viewBox="-3 -3 24 24"
                    stroke-width="2"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="6" cy="19" r="2" />
                    <circle cx="17" cy="19" r="2" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                    <path d="M15 6h6m-3 -3v6" /></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
