<app-nav-bar></app-nav-bar>
 
<div style="height: 800px;overflow: scroll;">

    <div class="shell">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="https://images.unsplash.com/photo-1617038220319-276d3cfab638?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8amV3ZWxsZXJ5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Earring</span>
                </div>
                <div class="title-product">
                  <h3>Product</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">R280</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1602173574767-37ac01994b2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Bracelet</span>
                </div>
                <div class="title-product">
                  <h3>Product</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">R280</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1631965004544-1762fc696476?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Necklace</span>
                </div>
                <div class="title-product">
                  <h3>Product</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">R280</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1633810542706-90e5ff7557be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>buy one get one free</span>
                </div>
                <div class="title-product">
                  <h3>Product </h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">R280</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
